data
cipher/__pycache__
build
cipher.spec
cipher/__pycache__
example_plugin/__pycache__
plugins/neofetch/__pycache__
plugins/hpt/__pycache__
dist
visualstudio
macos/cipher/.DS_Store
test.py
plugins/hacknet/__pycache__
tools
downloads
.vscode/launch.json
